@model IEnumerable<AirplaneTracker.Models.Airplanes>

@{
    ViewBag.Title = "TransferAirplane";
}

<h2>TransferAirplane</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxpass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblAirplaneType.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Airports.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblpilots.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblpilots1.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxpass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblAirplaneType.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Airports.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblpilots.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblpilots1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
            @Html.ActionLink("Transfer to this Airport", "TransferAirplane","Airports", new { id = item.id },null)
        </td>
    </tr>
}

</table>
